.left-side {
    background-color: lightgrey;
}

body {
    color:       #999;
    font-family: 'Lato', sans-serif;
    margin:      0;
    overflow:    hidden;
    text-align:  center;
    width:       100%;
}